#############################
# Java/Scala                #
#############################

# Java:                     #

# Directories               #
**/build/**
/bin/
target/
/android/gen/

# Compiled object files     #
*.class
*.so

# Logs                      #
*.log

# Not sure what this is,    #
# but it keeeps bugging me  #
# in the git-status view... #
**/.cache
ios/robovm.xml

# Package Files             #
*.jar
*.war
*.ear
*.db

# Mobile Tools for Java     #
.mtj.tmp/

# JVM crash logs            #
hs_err_pid*

# Scala:                    #

# sbt specific              #
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific        #
.scala_dependencies
.worksheet

#############################
# Linux                     #
#############################

# Archive Files             #
*~

# KDE dir preferences       #
.directory

# Linux trash folder, which #
# might appear on  any      #
# partition or disk         #
.Trash-*

#############################
# Windows                   #
#############################

# Windows image file caches #
Thumbs.db

# Folder config file        #
Desktop.ini

#############################
# OSX                       #
#############################

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r #
Icon


# Thumbnails                #
._*

# Files that might appear   #
# in the root of a volume   #
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially   #
# on remote AFP share       #
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#############################
# Eclipse                   #
#############################

*.pydevproject
.metadata

**/bin/**
**/war/**
**/lib/**
**/tmp/**
**/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
# External tool builders    #
.externalToolBuilders/

#############################
# IntelliJ IDEA             #
#############################

# Covers JetBrains IDEs:    #
# IntelliJ, RubyMine,       #
# PhpStorm, AppCode, and    #
# PyCharm                   #

*.iml

# Directory-based project format:
.idea/
# if you remove the  above  #
# rule, at least ignore the #
# following:                #

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

# File-based project format:
*.ipr
*.iws

# Plugin-specific files:    #

# IntelliJ                  #
/out/

# mpeltonen/sbt-idea plugin #
.idea_modules/

# JIRA plugin               #
atlassian-ide-plugin.xml

# Crashlytics plugin (for   #
# Android Studio and IDEA)  #
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


#############################
# Gradle                    #
#############################
.gradle
build/

# Gradle GUI config         #
gradle-app.setting

# Avoid ignoring Gradle     #
# wrapper jar file (default #
# is to ignore .jar files)  #
!gradle-wrapper.jar
